go 1.26.0

use (
	./pkg/configs
	./pkg/env
	./pkg/limbo
	./pkg/logger
	./pkg/plconfigs
	./pkg/proto
	./pkg/s2sdk
	./pkg/structs

	./soupe
)

replace github.com/untrustedmodders/s2sdk/213 v0.0.0-unpublished => ./pkg/s2sdk

replace github.com/untrustedmodders/plconfigs/211 v0.0.0-unpublished => ./pkg/plconfigs

replace github.com/limboware/pkg/limbo v0.0.0-unpublished => ./pkg/limbo

replace github.com/limboware/pkg/structs v0.0.0-unpublished => ./pkg/structs

replace github.com/limboware/pkg/env v0.0.0-unpublished => ./pkg/env

replace github.com/limboware/pkg/configs v0.0.0-unpublished => ./pkg/configs

replace github.com/limboware/pkg/logger v0.0.0-unpublished => ./pkg/logger

replace github.com/limboware/pkg/proto v0.0.0-unpublished => ./pkg/proto
